@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap')

$home-bg: url("assets/images/bg/home-bg.jpg")  
$pink: #e81ac4
$pink-two: #cc1bf2
$purple:  #8822db
$black-purple_01: #4a24b4
$black-purple: #3e1e96
$blue: #232380
$white-blue: #5151da
  
*
  margin: 0
  padding: 0

#root
  height: 100vh
  display: grid
  grid-template-areas: "header" "main" "footer"
  grid-template-rows: 15% 1fr auto
  font-family: 'Open Sans', sans-serif
  background: $home-bg no-repeat center
  background-size: cover 
  

.header
  grid-area: header
  background-color: transparent
  font-weight: bold

  .container 
    height: 100%
    
    nav
      display: flex
      justify-content: end

      .menu 
        list-style: none
        padding: 0
        display: flex

      li 
        margin-right: 20px
        margin-top: 20px

      a 
        text-decoration: none
        color: #fff
        transition: color 0.3s

        &:hover 
          color: $white-blue

main
  grid-area: main
  background: transparent

  .sec-container
    display: flex
    flex-direction: column

    .div-logo
      width: 40%

      img
        width: 100%
          

footer
  grid-area: footer
  background: #141414 url("assets/images/logo/central-white-nobg-op.png") center/40% no-repeat
  @media screen and (max-width: 600px)
    background: $black-purple url("./central-white-nobg.png") center/100% no-repeat

  .image
    color: white
    padding: 20px
    text-align: center
  
    .company-name 
      font-size: 24px
      font-weight: bold
      margin-bottom: 10px
    
    
    .contact-info 
      font-size: 18px
      margin-bottom: 10px
    
    
    .social-media 
      margin-top: 20px
      
      a 
        color: white
        text-decoration: none
        margin: 0 10px
        font-size: 24px
        
        &:hover 
          text-decoration: underline

    .copyright
      margin-top: 20px
      font-size: 14px


/* background-color: #242424; */